@use "sass:meta";

@tailwind base;
@tailwind components;
@tailwind utilities;

@include meta.load-css('components/footer');

@layer base {
  :root, [data-theme] {
    @apply bg-base-300;
  }

  body {
    @apply relative;
  }

  .using-mouse * {
    outline: none !important;
  }

  .container-fluid {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
  }
}

@layer components {

}