@use "sass:meta";

@use "./utilities/utils" as *;
@use "./utilities/breakpoints" as *;

@include meta.load-css('components/tabs');
@include meta.load-css('components/badges');
@include meta.load-css('components/rating');

.media-detail {
  .bg-image {
    aspect-ratio: 16/9;
    z-index: -1;
  }

  .media-image {
    aspect-ratio: 2/3;
  }

  .details-row {
    .details-item:not(:last-child) {
      &:after {
        content: '•';
        font-size: rem(20px);
        display: inline-block;
        margin: rem(0, 14px)
      }
    }
  }

  .rating-and-matrix {
    @apply rounded relative !inline-flex flex-col;
    z-index: 99;

    .rating-matrix-outer {
      @apply hidden -ml-4;
    }

    .episode-rating-matrix {
      @apply bg-base-100 p-4;
    }

    &.open {
      @apply bg-base-100 pl-4 -ml-4 pt-4 -mt-4 pr-4 shadow-xl;

      .rating-matrix-outer {
        @apply block;
      }
    }
  }
}