@use "../utilities/utils" as *;
@use "../utilities/breakpoints" as *;

.media-card {
  .card-image {
    aspect-ratio: 2 / 3;
  }

  .card-overview {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: rem(20px);
    max-height: rem(84px);
  }
}

.cat-landing .media-card {
  width: calc((100% - #{rem(64)}) / 2);

  @include media-breakpoint-up(md) {
    width: calc((100vw - #{rem(219)}) / 3);
  }

  @include media-breakpoint-up(lg) {
    width: calc((100vw - #{rem(266)}) / 3);
  }

  @include media-breakpoint-up(xl) {
    width: calc((100% - #{rem(64)}) / 5);
  }
}

.swiper-slide .media-card {
  @apply h-full;
}