@use "../utilities/utils" as *;
@use "../utilities/breakpoints" as *;

.media-card {
  width: calc((100vw - #{rem(80)}) / 2);

  @include media-breakpoint-up(sm) {
    width: calc((100vw - #{rem(112)}) / 4);
  }

  @include media-breakpoint-up(lg) {
    width: calc((100vw - #{rem(128)}) / 5);
  }

  @include media-breakpoint-up(xl) {
    width: calc((100vw - #{rem(192)}) / 8);
  }

  .card-image {
    aspect-ratio: 2 / 3;
  }

  .card-overview {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: rem(20px);
    max-height: rem(84px);
  }
}